@import url('https://fonts.googleapis.com/css?family=Artifika');
html, body {
    margin: 0%;
    padding: 0%;
}

.loginForm {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
}

.textField {
    background: #132c83;
    position: relative;
}

.textField p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    margin: auto;
    color: white;
}

.loginPageCreation {
    position: relative;
}

.formCreation {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginHeadPara {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #132c83;
    text-shadow: 1px 1px 1px grey;
}

.emailField {
    position: relative;
    margin: 70px 0px 30px 0px;
}

.passwordInput {
    position: relative;
    margin-bottom: 65px;
}

.icon {
    position: absolute;
    top: 12px;
    left: 16px;
}

.inputField {
    position: relative;
    padding: 15px 10px 15px 55px;
    width: 100%;
    background: #dedede75;
    border: none;
    outline: none;
    border-radius: 3px;
    color: black;
    font-size: 15px;
}

.inputField:focus::placeholder {
    color: transparent
}

.forgotSpan {
    position: relative;
    top: -45px;
    /* right: 1px; */
    left: 289px;
    font-size: 15px;
    color: #132c83;
    cursor: pointer;
}

.submitButton {
    width: 100%;
    padding: 15px 15px 15px 56px;
    border: 0;
    outline: 0;
    background: darkblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottomPara {
    text-align: center;
    position: relative;
    top: 55px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.bottomPara span {
    font-size: 15px;
    padding-left: 8px;
    color: #000000bd;
    cursor: pointer;
}

.bottomPara span:hover {
    color: #000000;
}

.arrowIcon {
    position: absolute;
    left: 360px;
    top: 15px;
    cursor: pointer;
    color: white;
    transform: rotate(180deg);
    transition: 0.5s;
}

.submitField {
    position: relative;
    margin-top: 20px
}

.submitField:hover .arrowIcon {
    transform: rotate(0deg);
}